parameters:
    level: 0
    paths:
        - app
        - config
        - database
        - routes
    excludePaths:
        - vendor
        - storage
        - docker
    ignoreErrors:
        # Laravel Facade patterns
        - '#Undefined variable: \$this#'
        # Config issues
        - '#Class .* not found#'
